@import '../assets/variables.scss';

.side-nav {
  display: flex;
  flex-direction: column;
  border-right: 1px solid $border-color;

  .side-nav_buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    .side-nav_button {
      color: $link-color;
      width: 150px;
      height: 30px;
      display: flex;
      margin: 5px;
      font-size: 18px;
      text-decoration: none;

      span {
        font-size: 14px;
        margin: auto 0;
        color: #fff;
      }

      i {
        padding: 6px;
        width: 25px;
      }

      &:hover {
        color: $active-color;
        background-color: $panel-color;
        border-radius: 5px;
      }
    }

    .active-button {
      color: $active-color;
    }
  }

  .side-nav_style-button {
    width: fit-content;
    font-size: 27px;
    margin: 0 auto;
    padding: 15px;
  }
}

@keyframes wink {
  0% {
    height: 6px;
    margin: 4px;
  }

  50% {
    height: 2px;
    margin-top: 6px;
  }

  100% {
    height: 6px;
    margin: 4px;
  }
}