@import '../assets/variables.scss';

.side-nav {
  height: 100vh;
  width: 100px;
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $border-color;

  .side-nav_logo {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

    .side-nav_logo-text {
      height: fit-content;
      margin: auto;
      font-weight: bold;
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      // background-color: #fff;
      width: 0;
      height: 0;
      border: 15px solid transparent;
      border-top: 0;
      border-bottom: 30px solid #fff;
      bottom: -1px;
      right: 0px;
      transform: rotate(60deg);
      z-index: 0;
    }
  }

  .side-nav_buttons {
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    .side-nav_button {
      color: $link-color;
      width: fit-content;
      margin: auto;
      font-size: 22px;
      padding: 15px;

      &:hover {
        color: $active-color;
        background-color: $hover-color;
      }
    }

    .active-button {
      color: $active-color;
      background-color: $hover-color;
    }
  }
}