@import '../assets/variables.scss';

.side-nav {
  height: 100vh;
  width: 100px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $border-color;

  .side-nav_logo {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

    .side-nav_logo-text {
      color: #fff;
      font-size: 15px;
      height: fit-content;
      margin: 15px 0 0 0;
      font-weight: bold;
      z-index: 2;
      position: absolute;
      transform: rotate(-15deg);
    }

    i {
      color: $link-color;
      font-size: 55px;
      z-index: 1;
      transform: scaleX(-1);
    }
  }

  .side-nav_buttons {
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    .side-nav_button {
      color: $link-color;
      width: fit-content;
      margin: auto;
      font-size: 22px;
      padding: 15px;

      &:hover {
        color: $active-color;
        background-color: $hover-color;
      }
    }

    .active-button {
      color: $active-color;
      background-color: $hover-color;
    }
  }

  .side-nav_style-button {
    width: fit-content;
    font-size: 27px;
    margin: 0 auto;
    padding: 15px;
  }
}