@import '../assets//variables.scss';

.profile {
  width: 100%;
  margin: 0 auto;

  .profile-info {
    display: flex;
    width: 100%;

    .profile-info_left-column {
      width: fit-content;
      margin: 0 5px 0 0;

      .profile-info_avatar {
        width: fit-content;

        img {
          width: 200px;
          height: 200px;
        }
      }

      .profile-info_buttons {
        display: flex;
        flex-direction: column;

        .profile-info_button {
          background-color: $button-background;
          border: none;
          border-radius: 5px;
          padding: 7px 10px;
          margin: 3px 0;
          width: 100%;

          &:hover {
            background-color: $link-color;
            cursor: pointer;
          }

          &.disabled {

            &:hover {
              background-color: $button-background;
            }
          }
        }
      }
    }

    .profile-info_right-column {
      width: 100%;
      margin: 0 0 0 5px;

      .profile-info_name {
        font-size: 20px;
      }

      .profile-info_status {
        font-size: 13px;
        padding: 5px;
      }

      .profile-info_details {
        padding: 10px 0;

        .profile-info_details-line {
          display: flex;

          .profile-info_details-line-name {
            width: 200px;
          }
        }

        .profile-info_details-numbers {
          display: flex;
          justify-content: center;

          .profile-info_details-number {
            display: flex;
            flex-direction: column;
            padding: 0 10px;

            .profile-info_details-num {
              width: fit-content;
              margin: auto;
              font-size: 25px;
              color: $link-color;
            }
          }
        }
      }
    }
  }
}

.profile-info_box {
  padding: 10px;
  background-color: $panel-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;

  .profile-info_box-header {
    width: fit-content;

    .profile-info_box-header-name {}

    .profile-info_box-header-num {
      padding: 0 5px;
      color: $link-color;
    }
  }

  .profile-info_box-line {
    border-bottom: 1px solid $border-color-two;
  }
}

@media screen and (max-width: 540px) {
  .profile-info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .profile-info_left-column {
    width: 100% !important;
    margin-right: 0 !important;
  }

  .profile-info_right-column {
    width: 100% !important;
    margin-left: 0 !important;
  }
}