@import '../assets/variables.scss';

.top-bar {
  height: 75px;
  width: calc(100vw - 100px);
  border-bottom: 1px solid $border-color;
  display: flex;
  flex-direction: row;

  .top-bar_user-profile {
    width: fit-content;
    margin: auto 25px auto auto;
    display: flex;

    .top-bar_user-profile_avatar {
      height: 60px;
      width: 60px;
      background-size: cover;
      border-radius: 50%;
    }

    .top-bar_user-profile_details {
      margin: auto;
      padding: 0 10px;

      .top-bar_user-profile_status {
        color: grey;
      }
    }
  }

  .top-bar_search {
    width: fit-content;
    margin: auto 0 auto auto;
    position: relative;

    input {
      width: 200px;
      height: 30px;
      border-radius: 5px;
      padding-left: 30px;
      border: 0;
      background-color: rgba(81, 75, 101, 0.3);
      font-size: 14px;

      &:focus {
        outline: none;
      }
    }

    i {
      position: absolute;
      left: 0;
      padding: 8px;
      opacity: 0.5;
    }
  }
}

.auth-button {
  font-size: 25px;
  // margin: auto 25px auto auto;
  color: rgba(255, 255, 255, 0.3);
}
