@import '../assets/variables.scss';

.top-bar {
  height: 75px;
  width: calc(100vw - 100px);
  border-bottom: 1px solid $border-color;
  display: flex;
  flex-direction: row;

  .top-bar_user-profile-wrapper {
    width: fit-content;
    min-width: 105px;
    display: flex;

    .top-bar_user-profile {
      margin: auto;
      display: flex;

      .top-bar_user-profile_avatar {
        height: 60px;
        width: 60px;
        background-size: cover;
        border-radius: 50%;
      }

      .top-bar_user-profile_details {
        margin: auto;
        padding: 0 10px;

        .top-bar_user-profile_status {
          color: grey;
        }
      }
    }
  }

  .top-bar_search {
    width: fit-content;
    margin: auto;
    position: relative;

    .top-bar_search-input-wrapper {
      position: relative;

      input {
        width: 200px;
        height: 30px;
        padding-left: 30px;
        border: 0;
        background-color: rgba(81, 75, 101, 0.3);
        font-size: 14px;

        &:focus {
          outline: none;
        }
      }

      i {
        position: absolute;
        left: 0;
        padding: 8px;
        color: rgba(255, 255, 255, 0.3);
      }
    }

    .top-bar_search-box {
      position: absolute;
      background-color: $border-color;
      padding: 10px;
      width: calc(100% - 20px);
      height: fit-content;
      z-index: 3;

      .top-bar_search-result {
        display: flex;
        padding: 5px;

        &:focus {
          text-decoration: none;
        }

        .top-bar_search-result_avatar {
          height: 40px;
          width: 40px;
          background-size: cover;
          border-radius: 50%;
        }

        .top-bar_search-result_username {
          padding: 5px;
          color: #fff;
          text-decoration: none;
          padding: 5px;
        }
      }
    }
  }
}

.auth-button {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.3);
  height: fit-content;
  margin: auto 0;
  padding: 10px;
  cursor: pointer;
}
