@import '../assets/variables.scss';

.top-bar_wrapper {
  background-color: $panel-color;
  border-bottom: 1px solid $border-color;
  width: 100%;
  height: 50px;

  .top-bar {
    height: 50px;
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;

    .top-bar_logo {
      margin: auto auto auto 0;
      height: 20px;
      width: 20px;
      padding: 10px;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 1;
      border-radius: 10px;
      background-image: $main-gradient;
      text-decoration: none;

      &:hover {
        .eye:nth-of-type(2) {
          animation-name: wink;
          animation-duration: 1s;
        }
      }

      i {
        color: #fff;
        font-size: 22px;
        z-index: 1;
        position: relative;
        display: block;
        margin: auto;

        .logo_face {
          position: absolute;
          width: 100%;
          top: -1px;

          .face_eyes {
            margin: auto;
            display: flex;
            justify-content: space-around;

            .eye {
              background-color: #000;
              height: 6px;
              width: 3px;
              margin: 4px;
            }
          }

          .face_smile {
            width: 5px;
            height: 2px;
            background-color: #000;
            margin: auto;
            position: relative;

            &:before {
              content: '';
              position: absolute;
              height: 2px;
              width: 2px;
              background-color: #000;
              left: -2px;
              top: -1px;
            }

            &:after {
              content: '';
              position: absolute;
              height: 2px;
              width: 2px;
              background-color: #000;
              right: -2px;
              top: -1px;
            }
          }
        }
      }
    }

    .top-bar_buttons {
      margin: auto auto auto 0;
      display: flex;
      justify-content: space-around;
      position: relative;

      .top-bar_button {
        color: $link-color;
        width: 35px;
        height: 35px;
        display: flex;
        margin: 5px 10px;
        font-size: 22px;
        text-decoration: none;

        i {
          margin: auto;
        }

        &:hover {
          color: $active-color;
        }
      }

      .active-button {
        color: $active-color;
        border-radius: 10px;
      }
    }

    .top-bar_user-profile-wrapper {
      width: 70px;
      display: flex;
      justify-content: space-between;
      height: 50px;

      .top-bar_user-profile-container {
        margin: auto;
        position: relative;
        width: 100%;

        .top-bar_user-profile {
          display: flex;
          width: 100%;
          height: 50px;

          &:hover {
            background-color: $hover-color;
            cursor: pointer;
          }

          &.active {
            background-color: $hover-color;
          }

          .top-bar_user-profile_avatar {
            height: 35px;
            width: 35px;
            background-size: cover;
            border-radius: 50%;
            margin: auto 8px;
          }

          .top-bar_user-profile-arrow {
            height: 1px;
            width: 6px;
            background-color: #fff;
            position: relative;
            transform: rotate(45deg);
            margin: auto 0;

            &:after {
              content: '';
              position: absolute;
              height: 1px;
              width: 6px;
              background-color: #fff;
              transform: rotate(90deg);
              left: 3px;
              top: -3px;
            }
          }

          .top-bar_user-profile_details {
            margin: auto;
            padding: 0 10px;

            .top-bar_user-profile_status {
              color: grey;
            }
          }
        }

        .top-bar_user-profile-menu {
          background-color: $panel-color;
          border: 1px solid $border-color;
          position: absolute;
          padding: 10px 0;
          z-index: 3;
          width: 250px;
          height: fit-content;
          right: 0;
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);

          .top-bar_user-profile-menu_buttons {
            display: flex;
            flex-direction: column;
            height: fit-content;

            .user-profile-link {
              background-color: $panel-color-two;
              padding: 10px;
              display: flex;

              &:hover {
                background-color: $hover-color;

                .user-profile-menu_arrow {
                  margin-right: 0;
                  transition: margin-right .3s;
                }
              }

              .user-profile-menu_info {
                display: flex;

                .user-profile-menu_avatar {
                  width: 40px;
                  height: 40px;
                  background-size: cover;
                  border-radius: 50%;
                }

                .user-profile-menu_name {
                  margin: auto 0;
                  padding: 10px;
                }
              }

              .user-profile-menu_arrow {
                height: 2px;
                width: 8px;
                background-color: #fff;
                margin: auto 0 auto auto;
                transform: rotate(45deg);
                position: relative;
                margin-right: 3px;
                transition: margin-right .3s;

                &:after {
                  content: '';
                  position: absolute;
                  height: 2px;
                  width: 8px;
                  background-color: #fff;
                  transform: rotate(-90deg);
                  top: 3px;
                  left: 3px;
                }
              }
            }

            .user-profile-menu-button {
              width: calc(100% - 20px);
              border: none;
              color: #fff;
              padding: 5px 10px;
              cursor: pointer;

              span {
                font-size: 14px;
                margin: auto;
              }

              i {
                width: 25px;
                color: $link-color;
                font-size: 18px;
              }

              &:hover {
                background-color: $hover-color;
              }
            }
          }
        }
      }
    }

    .top-bar_search {
      width: fit-content;
      margin: auto;
      position: relative;

      .top-bar_search-input-wrapper {
        position: relative;

        input {
          width: 200px;
          height: 30px;
          padding-left: 30px;
          border: 0;
          border-radius: 5px;
          background-color: rgba(81, 75, 101, 0.3);
          font-size: 14px;

          &:focus {
            outline: none;
          }
        }

        i {
          position: absolute;
          left: 0;
          padding: 8px;
          color: rgba(255, 255, 255, 0.3);
        }
      }

      .top-bar_search-box {
        position: absolute;
        background-color: $panel-color;
        padding: 10px;
        margin-top: 9px;
        border: 1px solid $border-color;
        width: calc(100% - 20px);
        height: fit-content;
        z-index: 2;
        box-shadow: $box-shadow;

        .top-bar_search-result {
          display: flex;
          padding: 5px;

          &:focus {
            text-decoration: none;
          }

          .top-bar_search-result_avatar {
            height: 40px;
            width: 40px;
            background-size: cover;
            border-radius: 50%;
          }

          .top-bar_search-result_username {
            padding: 5px;
            color: #fff;
            text-decoration: none;
            padding: 5px;
          }
        }
      }
    }

    .top-bar_notifications {
      margin: auto 20px;
      position: relative;
      cursor: default;

      .top-bar_notifications-icon {
        display: flex;
        font-size: 20px;
        height: 50px;
        width: 50px;

        &:hover {
          background-color: $hover-color;
          cursor: pointer;
        }

        &.active {
          background-color: $hover-color;
        }

        i {
          margin: auto;
        }

        .top-bar_notifications-number {
          height: fit-content;
          font-size: 12px;
          background-image: $main-gradient;
          width: 14px;
          border-radius: 50%;
          display: flex;
          position: absolute;
          left: 25px;
          top: 8px;

          span {
            margin: auto;
            width: fit-content;
          }
        }

        &.active {
          background-color: $hover-color;
        }
      }

      .top-bar_notifications-box {
        position: absolute;
        right: 0;
        z-index: 3;
        width: 300px;
        min-height: 60px;
        height: fit-content;
        background-color: $panel-color;
        border: 1px solid $border-color;
        box-shadow: $box-shadow;

        .top-bar_notification {
          height: 50px;
          display: flex;
          padding: 5px;
          margin: auto;

          &:hover {
            background-color: $hover-color;
            cursor: pointer;
          }

          .notification_left {
            display: flex;

            .notification_avatar {
              height: 40px;
              width: 40px;
              background-size: cover;
              border-radius: 50%;
              margin: auto;
            }
          }

          .notification_right {
            padding: 5px;

            .notification_name {
              font-size: 16px;
              font-weight: bold;
            }

            .notification_text {
              font-size: 13px;
              padding: 5px 0;
            }
          }

          .accept {
            height: 25px;
            background-color: $button-background;
            border: 0;
            border-radius: 5px;
            margin: auto;

            &:hover {
              background-color: $link-color;
              cursor: pointer;
            }
          }
        }

        .top-bar_no-notifications {
          padding: 22px 0 21px 0;
          width: fit-content;
          height: fit-content;
          margin: auto;
          font-size: 14px;
          color: $link-color;
        }
      }
    }
  }
}

.auth-button {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.3) !important;
  height: fit-content;
  margin: auto 0;
  padding: 10px;
  cursor: pointer;
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .top-bar_wrapper {
    .top-bar {
      width: 70%;
    }
  }
}

@media screen and (max-width: 1279px) {
  .top-bar_wrapper {
    .top-bar {
      width: 100%;

      .top-bar_logo {
        margin: auto auto auto 10px;
      }
    }
  }
}