@import '../assets/variables.scss';

.chats {
  width: 100%;
  height: 100%;
  display: flex;

  .chats_section {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $border-color;
    position: relative;

    .fa-edit,
    .fa-times {
      position: absolute;
      right: 0;
      padding: 10px 5px;
      z-index: 1;
      color: grey;

      &:hover {
        cursor: pointer;
      }
    }

    .fa-times {
      font-size: 18px;
    }

    .chats_search {
      width: 100%;
      position: relative;
      border-bottom: 1px solid $border-color;

      input {
        background-color: transparent;
        border: none;
        height: 35px;
        padding: 0 35px 0 35px;
        width: calc(100% - 70px);

        &:focus {
          outline: none;
        }
      }

      i {
        position: absolute;
        left: 0;
        padding: 10px;
        opacity: 0.5;
      }
    }

    .chat {
      height: 50px;
      display: flex;
      padding: 5px;
      border-bottom: 1px solid $border-color;

      &:hover {
        background-color: $hover-color;
        cursor: pointer;
      }

      .chat_left {
        .chat_user-avatar {
          height: 50px;
          width: 50px;
          background-size: cover;
          border-radius: 50%;
        }
      }

      .chat_middle {
        padding: 5px;

        .chat_user-message {
          color: grey;
        }
      }

      .chat_right {
        margin: auto 0 auto auto;

        .chat_user-message_time {
          color: grey;
          font-size: 13px;
        }

        .chat_user-message_num {
          background-image: $main-gradient;
          font-size: 13px;
          height: 14px;
          width: 14px;
          display: flex;
          border-radius: 50%;
          margin: auto 0 auto auto;

          span {
            margin: auto;
          }
        }
      }
    }
  }

  .active-chat {
    width: 100%;
    position: relative;
    border-right: 1px solid $border-color;

    .active-chat_user-info {
      display: flex;
      border-bottom: 1px solid $border-color;
      padding: 5px;
      height: 50px;

      .active-chat_user-info_left {
        padding: 10px;
      }
    }

    .active-chat_messages-wrapper {
      height: calc(100% - 61px);
      width: 100%;
      overflow-y: auto;
    }

    .active-chat_input {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-top: 1px solid $border-color;
      display: flex;

      .active-chat_input-text {
        width: 100%;
        height: 20px;
        background-color: transparent;
        border: none;
        padding: 15px;
        resize: none;

        &:focus {
          outline: none;
        }
      }

      .active-chat_input-button {
        border: none;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.3);
        font-size: 25px;
        margin: auto 0;
        display: block;

        &:hover {
          color: $active-color;
          cursor: pointer;
        }
      }
    }
  }
}