@import './assets/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.dark {
    background-color: $main-color;
    color: #fff;

    input {
      color: #fff;
    }

    textarea {
      color: #fff;
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    button {
      color: #fff;
    }
  }

  &.light {
    background-color: #fff;
    color: #000;

    input {
      color: #000;
    }

    textarea {
      color: #000;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .components-wrapper {
    height: calc(100vh - 51px);
    width: 60%;
    display: flex;
    margin: auto;
    position: relative;
    z-index: 0;

    .container {
      width: 100%;
      padding: 0 10px;
      display: flex;
    }
  }
}

.form {
  height: fit-content;
  margin: auto;

  .form_rows {
    display: flex;
    flex-direction: column;

    .form_row {
      display: flex;
      flex-direction: row;
    }
  }

  .form-textarea {
    padding: 5px;

    label {
      padding: 0 5px;
      color: $link-color;
    }

    textarea {
      width: 293px;
      min-height: 35px;
      height: 150px;
      font-size: 16px;
      border: 0px;
      border-bottom: 3px solid transparent;
      transition: border 0.5s;
      border-radius: 5px;
      box-shadow: #000;
      padding: 5px;

      &:focus {
        outline: none;
        border-bottom: 3px solid #000;
        transition: border 0.5s;
      }
    }
  }

  .form-select {
    padding: 5px;

    label {
      padding: 0 5px;
    }

    select {
      width: 200px;
      height: 35px;
      font-size: 16px;
      border: 0px;
      border-bottom: 3px solid transparent;
      transition: border 0.5s;
      border-radius: 5px;
      box-shadow: #000;
      padding-left: 5px;

      &:focus {
        outline: none;
        border-bottom: 3px solid $main-color;
        transition: border 0.5s;
      }
    }
  }

  .form-input {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: fit-content;

    label {
      padding: 0 5px;
      color: $link-color;
    }

    .input-container {
      border: 2px solid transparent;

      input {
        width: 293px;
        height: 35px;
        font-size: 16px;
        border: 0px;
        border-left: 3px solid transparent;
        transition: border-left 0.5s;
        box-shadow: #000;
        padding-left: 5px;
        background-color: $input-color;

        &:focus {
          outline: none;
          border-left: 3px solid $active-color;
          transition: border-left 0.5s;
        }

      }
    }

    .form-input_error {
      padding: 10px 0;
      width: 307px;
    }

    .transparent {
      border: 1px solid $border-color;
      background-color: $panel-color;

      input {
        background-color: transparent;
      }
    }

    .error {
      border: 2px solid #a63838;
      transition: border 0;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        background-color: #a63838;
        bottom: -6px;
        left: 5px;
        transform: rotate(45deg);
        z-index: -1;
      }

      input {
        &:focus {
          border-left: 3px solid transparent;
        }
      }
    }
  }

  .form-calendar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;

    input {
      width: 294px;
      height: 35px;
      padding: 0px 2px 0px 5px;
    }

    label {
      padding: 0 5px;
      color: $link-color;
    }

    ::-webkit-datetime-edit { width: 100%; }
    ::-webkit-datetime-edit-text { }
    ::-webkit-datetime-edit-month-field {  }
    ::-webkit-datetime-edit-day-field {  }
    ::-webkit-datetime-edit-year-field {  }
    ::-webkit-inner-spin-button { display: none; }
    // ::-webkit-calendar-picker-indicator { background: orange; }

    &.transparent {

      input {
        border: 1px solid $border-color;
        background-color: $panel-color;
      }
    }
  }

  .form-button {
    height: 37px;
    width: 303px;
    background-color: $active-color;
    padding: 1px 2px;
    border: 0;
    color: #fff;
    margin: 15px 5px 0 5px;
    box-shadow: #000;
    text-align: center;

    span {
      font-size: 14px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .blur {
    border-bottom: 3px solid $main-color;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .components-wrapper {
    width: 70% !important;
  }
}

@media screen and (max-width: 1279px) {
  .components-wrapper {
    width: 100% !important;
  }
}