@import './assets/variables.scss';

body {
  margin: 0;
  background-color: $main-color;
  color: #fff;
}

.app-wrapper {
  display: flex;
  flex-direction: row;

  .container {

    .components-wrapper {
      height: calc(100vh - 76px);
      display: flex;
    }
  }
}