@import './assets/variables.scss';

body {
  margin: 0;
  color: #fff;
}

.app-wrapper {
  display: flex;
  flex-direction: row;

  &.dark {
    background-color: $main-color;
    color: #fff;
  }
  
  &.light {
    background-color: #fff;
    color: #000;
  }

  .container {

    .components-wrapper {
      height: calc(100vh - 76px);
      display: flex;
    }
  }
}