$main-color: #141414;
$panel-color: #222222;
$link-color: rgba(81, 75, 101, 1);
$hover-color: rgba(29, 19, 52, 1);
$active-color: rgba(101, 69, 222, 1);
$border-color: #333333;
$main-gradient: linear-gradient(to bottom left, #5326e6, #8650f5);
