$main-color: #141414;
$panel-color: #222222;
$panel-color-two: #333333;
$link-color: rgba(81, 75, 101, 1);
$hover-color: #3d3d3d;
$active-color: rgba(101, 69, 222, 1);
$border-color: #333333;
$main-gradient: linear-gradient(to bottom left, #5326e6, #8650f5);
$box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);